/* ==== CSS ==== */


/* ==========
    GLOBALS
   ========== */

* {
    box-sizing: border-box;  /* makes borders not go over screen size - removes horizontal scroll bar */
}

body {
    min-height: 100vh;
    margin: 0;

    /* ==== background ==== */
    background-image: url("./indeximages/background2.jpg");
    background-size: 500px;
    background-position: center;
    background-attachment: scroll;
}


/* ========
    LAYOUT
   ======== */

.grid{
    display: grid;  /* grid layout */
    gap: 5px;  /* space between each column and row */
    align-items:center;  /* vertically center content */
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  /* how much space each column takes up */
    align-items: start;
    text-align: center;
    margin-top: 10px;
    justify-items: center;
}



/* ===========
   MAIN STYLES
   =========== */

.box {
    background-color:rgb(245, 228, 228);
    border: 7px double rgb(107, 44, 44);
    border-radius: 6px;
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

.patrickhand-text {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(107, 44, 44);
}

/* ======
   HEADER
   ====== */
.header {
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);

    display: grid;
}

.banner {    
    text-align: center;
    background-image: url("./images/marvel-banner.jpg");
    max-width: 100%;
    border-bottom: solid 2px rgb(107, 44, 44);
    box-shadow: 2px 2px rgba(107, 44, 44, 0.3);
}

.title {
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 7px;
    text-align: center;

    color: rgb(244, 212, 207);
    font-family: 'Crafty Girls', cursive;
    font-weight: bold;
    font-size: 43px;
    text-shadow: 2px 2px rgba(107, 44, 44, 0.3);

    width: 50%;
    margin: 10px auto;
    top: 5%;
    left: 50%;
    margin-left: -25%;

    position: absolute;

    white-space: nowrap;
}

/* ==== time box ====*/
#time-box {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 5px 24px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    margin-left: 15px;

    color: rgb(244, 212, 207);
    text-shadow: 2px 2px rgba(107, 44, 44, 0.3);

    position: absolute;
    top: 3%;
}

/* ==== clock ==== */
#clock {
    letter-spacing: 1px;
    font-size: 50px;
}

/* ==== date ==== */
#date {
    font-size: 20px;
    margin-top: 4px;
    opacity: 0.85;

}



/* ===========
   LEFT COLUMN
   =========== */ 

/* ==== general ==== */
.left {
    display: grid;
    width: 100%;
    justify-items: center;
}



/* ==== lofi-girl photo ==== */
.left .strawberry{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;

    border: solid 2px rgb(107, 44, 44);
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

/* ==== about me box ==== */
.left .about-me{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


/*=============
  CENTER COLUMN 
  ============= */

/* ==== general ====*/
.center{
    width: 100%;
    display: grid;
    justify-items: center;
}

/* ===== title ==== */


/* ==== divider ==== */
.center .divider::before {
    content:"--------⋆.˚✮🎧✮˚.⋆--------";
    text-align: center;
    align-items: center;
    margin: 10px auto;
    display: block;
    font-size: 120%;
    text-shadow: 1px 1px rgba(107, 44, 44, 0.3);
}

/* ==== intro text ==== */
.center .intro {
    display: grid;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    
    border:dashed rgb(107, 44, 44);
    border-radius: 5px;
    background-color:rgb(245, 228, 228);
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

/* ==== lofi cat photo ==== */
.center .cat{
    max-width: 90%;
    margin: 10px auto;

    border: solid 2px rgb(107, 44, 44);
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

/* ==== NEWS BOX ==== */
.center .news-box {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5px;

    border: dashed rgb(107, 44, 44);
    border-radius: 5px;

    background-color:rgb(245, 228, 228);

    display: flex
}

.center .title-news {
    width: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;

    font-size: 30px;

}

.center .page-box {
    width: 30%;
    height: 70%;
    line-height: normal;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    padding: 5px;

    border: dashed rgb(107, 44, 44);
    background-color: rgb(245, 228, 228);
    border-radius: 5px;

    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* ============
   RIGHT COLUMN 
   ============ */

/* ==== GENERAL ==== */
.right{
    width: 100%;
    display: grid;
    justify-items: center;
}

/* ==== NAVIGATION BOX ==== */
.right .nav-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;

    padding-top: 0;
    padding: 10px
}

/* ==== nav title ==== */
.right .nav-box .title-navigation {
    text-align: center;
}

/* ==== links ==== */
.right .nav-box li {
    list-style-type: "♡ ";
}

.right .nav-box ul {
    padding-left: 25px;
    margin: 0;
    text-align: start;
}

/* ==== MUSIC BOX ==== */
.right .music-box {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;

    padding: 10px;
}

.right .container {
  position: relative;
  width: 30%;
}

.right .music-box .container .image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    position: absolute;
}

.right .music-box .middle {
    transition: .5s ease;
    opacity: 0;
    width: 30%;
    transform: translate(-50, -50);
    -ms-transform: (50 50); 
    position: absolute;
}

.right .container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text-conan-gray {
    background-color: rgb(53, 101, 124);
    color: white;
    font-size: 15px;
    padding: 16px 32px;
    text-align: center;  
}
