/* ==== CSS ==== */


/* ==== background ==== */
body {
    background-image: url("./background2.jpg");
    background-size: 500px;
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
}

* {
    box-sizing: border-box;  /* makes borders not go over screen size - removes horizontal scroll bar */
}

/* ==== grid layout ==== */
.grid{
    display: grid;  /* grid layout */
    gap: 20px;  /* space between each column and row */
    align-items:center;  /* vertically center content */
}

/* ==== main text alignment ==== */
.section-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  /* how much space each column takes up */
    align-items: start;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
    justify-items: center;
}

/* ==== CENTER COLUMN ==== */

.center{
    width: 100%;
}

/* ===== title ==== */
.center h1 {
    max-width:90%;
    margin: 0;
    margin-bottom: 15px;
    padding: 7px;

    color: rgb(107, 44, 44);
    font-family: 'Crafty Girls', cursive;

    border:solid rgb(107, 44, 44);
    border-radius: 10px;
    background-color:rgb(245, 228, 228);
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

/* ==== intro text ==== */
.center p {
    max-width: 90%;
    text-align: left;
    margin: 0;
    padding: 5px;

    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(107, 44, 44);
    
    border:dashed rgb(107, 44, 44);
    border-radius: 5px;
    background-color:rgb(245, 228, 228);

    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}


 /* ==== RIGHT COLUMN ==== */

.right{
    width: 100%;
}

/* ==== navigation box ==== */
.right nav-box {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    justify-items: center;
    align-items: top;

    background-color: rgb(245, 228, 228);

    border: 7px solid rgb(107, 44, 44);
    border-style: double;
    border-radius: 3px;
    box-shadow: 2px 2px 0px rgba(107, 44, 44, 0.3);
}

/* ==== nav title ==== */
.right h2 {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: rgb(107, 44, 44);
}

/* ==== links ==== */
.right a {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(107, 44, 44);
}


/* ==== time box ====*/
#time-box {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(107, 44, 44);
    text-align: center;
    
    background-color: rgb(245, 228, 228);
    
    border: 7px solid rgb(107, 44, 44);
    border-style: double;
    border-radius: 3px;
    padding: 5px 24px;

    box-shadow: 2px 2px 0px rgba(107, 44, 44, 0.3);
    
}

/* ==== clock ==== */
#clock {
    color: rgb(107, 44, 44);
    letter-spacing: 1px;
    font-size: 24px;
}

/* ==== date ==== */
#date {
    font-size: 14px;
    color: rgb(107, 44, 44);
    margin-top: 4px;
    opacity: 0.85;

}
