/* ==== CSS ==== */


/* ==========
    GLOBALS
   ========== */

* {
    box-sizing: border-box;  /* makes borders not go over screen size - removes horizontal scroll bar */
}

body {
    min-height: 100vh;
    margin: 0;

    /* ==== background ==== */
    background-image: url("./images/background2.jpg");
    background-size: 500px;
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: scroll;
}


/* ========
    LAYOUT
   ======== */

.grid{
    display: grid;  /* grid layout */
    gap: 20px;  /* space between each column and row */
    align-items:center;  /* vertically center content */
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  /* how much space each column takes up */
    align-items: start;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
    justify-items: center;
}



/* ===========
   MAIN STYLES
   =========== */

.box {
    background-color:rgb(245, 228, 228);
    border: 7px double rgb(107, 44, 44);
    border-radius: 6px;
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

.patrickhand-text {
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(107, 44, 44);
}



/* ===========
   LEFT COLUMN
   =========== */ 

/* ==== general ==== */
.left {
    display: grid;
    max-width: 100%;
}

/* ==== time box ====*/
#time-box {
    width: 90%;
    margin: 0 auto;
    padding: 5px 24px;
    text-align: center;
}

/* ==== clock ==== */
#clock {
    letter-spacing: 1px;
    font-size: 24px;
}

/* ==== date ==== */
#date {
    font-size: 14px;
    margin-top: 4px;
    opacity: 0.85;

}

/* ==== lofi-girl photo ==== */
.left .strawberry{
    max-width: 90%;
    margin: 10px auto;

    border: solid 2px rgb(107, 44, 44);
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

/* ==== about me box ==== */
.left .about-me{
    width: 90%;
    margin: 10px auto;
    text-align: center;
}


/*=============
  CENTER COLUMN 
  ============= */

/* ==== general ====*/
.center{
    width: 100%;
    display: grid;
    justify-items: center;
}

/* ===== title ==== */
.center .title {
    max-width:90%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 7px;
    text-align: center;

    color: rgb(107, 44, 44);
    font-family: 'Crafty Girls', cursive;

    border:solid rgb(107, 44, 44);
    border-radius: 10px;
    background-color:rgb(245, 228, 228);
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

/* ==== divider ==== */
.center .divider::before {
    content:"--------⋆.˚✮🎧✮˚.⋆--------";
    text-align: center;
    align-items: center;
    margin: 10px auto;
    display: block;
}

/* ==== intro text ==== */
.center .intro {
    display: grid;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    
    border:dashed rgb(107, 44, 44);
    border-radius: 5px;
    background-color:rgb(245, 228, 228);
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}

/* ==== lofi cat photo ==== */
.center .lofi-cat{
    max-width: 90%;
    margin: 10px auto;

    border: solid 2px rgb(107, 44, 44);
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(107, 44, 44, 0.3);
}


/* ============
   RIGHT COLUMN 
   ============ */

/* ==== GENERAL ==== */
.right{
    width: 100%;
    display: grid;
    justify-items: center;
}

/* ==== NAVIGATION BOX ==== */
.right .nav-box {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;

    padding-top: 0;
    padding: 10px
}

/* ==== nav title ==== */
.right .nav-box .title-navigation {
    text-align: center;
}

/* ==== links ==== */
.right .nav-box li {
    list-style-type: "♡";
}

.right .nav-box ul {
    padding-left: 25px;
    margin: 0;
    text-align: start;
}

/* ==== NEWS BOX ==== */
.right .news-box {
    width: 90%;
    margin: 0 auto;
}

.right .news-box .title-news {
    text-align: center; 
}

.right .news-box .text-news {
    text-align: center;
}

.right .news-box #newest-webpage {
    text-align: start;
}




